@keyframes slideIn {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.event
{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  background-color: white;
  width: 400px;
  border-radius: 16px;
  animation: slideIn 0.4s ease forwards;
}

.header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #DBDBDB;
}

.left
{
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}

.left > img
{
  width: 25px;
}

.close
{
  padding-top: 5px;
}

.close > img
{
  width: 20px;
}

.content
{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}

.name {
  font-weight: 500;
}

.footer
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.creator
{
  background: #EEEEEE;
  height: 40px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 50px;
  font-size: 14px;
  border-radius: 10px;
}

.creator > img
{
  position: absolute;
  top: -10px;
  left: 0px;
  width: 50px;
}

.DA02das
{
  background: #5B3176;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  width: 100px;
  border-radius: 10px;
  font-size: 14px;
}