.lastCreate {
    width: 100%;
    background: white;
    border: 1px solid #d1c9c9;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.titleL
{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ececec;
    border-radius: 7px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    width: 50%;
    justify-content: center;
    margin-bottom: 15px;
}

.last {
  background-color: #ececec;
  position: relative;
  width: 100%;
  height: 70px;
  border-radius: 7px;
}

/* Appliquer un fond transparent à un élément sur deux (2ème, 4ème, etc.) */
.last:nth-child(even) {
  background-color: transparent;
}


.last > img
{
    position: absolute;
    top: -2px;
    left: 10px;
}

.psd90
{
    position: absolute;
    left: 90px;
    top: 15px;
}

.psd892
{
    font-weight: 500;
    margin-bottom: 5px;
}

.psddate
{
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.psuai
{
    text-decoration: underline;
}

.cos_card {
    margin-top: 20px;
    height: 258px;
    overflow-y: scroll;
    scrollbar-width: thin; /* pour Firefox */
    scrollbar-color: var(--main-color) var(--box-color); /* Firefox */
}

/* Pour WebKit (Chrome, Edge, Safari) */
.cos_card::-webkit-scrollbar {
    width: 6px;
}

.cos_card::-webkit-scrollbar-track {
    background: var(--box-color);
    border-radius: 10px;
}

.cos_card::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}