.contentLogin {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    grid-template-areas:
        ". .";
    margin-top: 30px;
}

.cardLogin {
    background: white;
    border: 1px solid #d1c9c9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 15px;
}

.inputLogin {
    background: #ececec;
    padding: 25px 25px 25px 70px;
    outline: none;
    border-radius: 7px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.inputCaptcha
{
    background: #ececec;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.inputLogin::placeholder {
    font-weight: bold;
}

.packInput {
    position: relative;
}

.packInput>img {
    position: absolute;
    image-rendering: auto;
}

.password {
    position: absolute;
    width: 30px;
    top: 13px;
    left: 17px;
}

.avatarImg {
    top: -5px;
}

.btnLogin {
    background: #5b3176;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    cursor: pointer;
}

.passUpdate {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
}


.titleLogin {
    font-weight: bold;
}

.btnRegister {
    background: #0095F6;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 60px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator
{
    width: 100%;
    height: 1px;
    background-color: #d1c9c9;
}

.packedre
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.refresh
{
    cursor: pointer;
}

.splitLogin
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}