.gridSp
{
    display: grid; 
    grid-template-columns: 0.5fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 30px;
    grid-template-areas: 
        ". ."; 
}

.gridSp > div {
  min-width: 0;
}

.footerMe
{
  background-color: #EEEEEE;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 30px;
}

.gridPo
{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 30px; 
  grid-template-areas: 
    ". ."; 
  margin-top: 30px;
}
